<div class="project-container">
  {{#link-to 'projects'}}&laquo; back to all projects{{/link-to}}

  <h2 class="project-name">{{name}}</h2>

  <div class="project-details">
    <div class="launch"><a href="{{url}}"><i class="fa fa-heart-o"></i> visit the site</a></div>
    <div class="last-pushed"><i class="octicon octicon-history"></i> last pushed: {{githubDetails.pushed_at}}</div>
    <div class="issues"><i class="fa fa-exclamation-circle"></i> {{githubDetails.open_issues_count}} open issues</div>
  </div>

  <div class="project-screenshots">
  {{#each screenshots}}
    <img class="screenshot" {{bind-attr src=this}} alt="screenshot">
  {{/each}}
  </div>

  <div class="project-description"><p>{{description}}</p></div>

  <div class="project-contributions">

    <div class="contributors">
      <h3 class="section-title">Contributors</h3>
      <ul>
      {{#each projectMembers}}
        <li class="member"><img {{bind-attr src=member.gravatar}} alt="{{member.name}}"> <a href="{{member.github_profile}}" class="name">{{member.name}}</a></li>
      {{/each}}
      </ul>
    </div>

    <div class="project-needs">
      <h3 class="section-title">Project Needs</h3>
        <ul>
        {{#each skillsNeeded}}
          <li class="skill"> {{this}} </li>
        {{/each}}
        </ul>
    </div>
  </div>

  <div class="project-data">
    <div class="categories">
      <h3 class="section-title">Categories</h3>
    </div>
    <div class="languages">
      <h3 class="section-title">Languages</h3>
      <p class="language">{{githubDetails.language}}</p>
    </div>
    <div class="press">
      <h3 class="section-title">Press Coverage</h3>
       <ul>
        {{#each pressClippings}}
          <li class="press-item">
            <a class="title" href="{{title}}">{{this}}</a>
          </li>
        {{/each}}
        </ul>
    </div>
  </div>

  <div class="project-links">
    <a class="project-ext-link" href="{{repository}}">View project on Github</a>
    <a class="project-ext-link" href="">Discuss on Hackpad</a>
    <a class="project-ext-link" href="">Share on Twitter</a>
  </div>
</div>
