<div class="project-container">
  {{#link-to 'projects'}}&laquo; back to all projects{{/link-to}}

  <h2 class="project-name">{{name}}</h2>

  <div class="project-details">
    <h4 class="launch">
      {{#if linkUrl}}
        <a {{bind-attr href=linkUrl}}><i class="fa fa-heart-o"></i> visit the site</a>
      {{/if}}
    </h4>
    <h4 class="last-pushed">
      <i class="octicon octicon-history"></i> last pushed: {{githubDetails.pushed_at}}
    </h4>
    <h4 class="issues">
      <i class="fa fa-exclamation-circle"></i> {{githubDetails.open_issues_count}} open issues
    </h4>
  </div>

  <div class="project-screenshots">
  {{#each screenshots}}
    <img class="screenshot" {{bind-attr src=this}} alt="screenshot">
  {{/each}}
  </div>

  <div class="project-description"><p>{{description}}</p></div>

  <div class="project-contributions">

    <div class="contributors">
      <h3 class="section-title">Contributors</h3>
      <ul>
      {{#each projectMembers}}
        <li class="member">
          <img {{bind-attr src=member.avatar}} {{bind-attr alt=member.name}}>
        </li>
      {{/each}}
      </ul>
    </div>

    <div class="project-needs">
      <h3 class="section-title">Project Needs</h3>
        <ul>
        {{#each skillsNeeded}}
          <li class="skill"> {{this}} </li>
        {{/each}}
        </ul>
    </div>
  </div>

  <div class="project-data">
    <div class="categories">
      <h3 class="section-title">Categories</h3>
    </div>
    <div class="languages">
      <h3 class="section-title">Languages</h3>
      <p class="language">{{githubDetails.language}}</p>
    </div>
    <div class="press">
      <h3 class="section-title">Press Coverage</h3>
       <ul>
        {{#each pressClippings}}
          <li class="press-item">
            <a class="title" href="{{title}}">{{this}}</a>
          </li>
        {{/each}}
        </ul>
    </div>
  </div>

  <div class="project-links">
    <a class="project-ext-link btn btn-default" {{bind-attr href=codeUrl}}>View project on Github</a>
    <a class="project-ext-link btn btn-default" href="">Discuss on Hackpad</a>
    <a class="project-ext-link btn btn-default" href="">Share on Twitter</a>
  </div>
</div>
