<div class="featured-event headline">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-push-2">
        <h1>{{upcoming.firstObject.name}}</h1>
        <p class="date">{{timeAgo upcoming.firstObject.startTime}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-push-8">
        <a {{bind-attr href=upcoming.firstObject.eventUrl}} class="btn btn-success btn-lg pull-right">RSVP</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h2>Events</h2>
  {{#each upcoming}}
    <div class="event">
      <div class="event-date">
        <div class="event-day">{{date startTime 'MMM Do'}}</div>
        <div class="event-time">{{date startTime 'h:mm a'}}</div>
      </div>
      <div class="event-description">
        <h2><a {{bind-attr href=eventUrl}} target="_blank">{{name}}</a></h2>
        <p>{{{description}}}</p>
      </div>
    </div>
    <hr>
  {{/each}}
</div>
