<div class="featured-event headline">
  <div class="container">
      <div class="col-sm-8 col-sm-push-2">

      <div class="col-sm-9">
        <h1>{{upcoming.firstObject.name}}</h1>
        <p class="date">{{timeAgo upcoming.firstObject.startTime }}</p>
      </div>
      <div class="col-sm-12">
        <a href="http://www.meetup.com/Code-for-Boston/" class="btn btn-success btn-lg col-sm-2 pull-right">RSVP</a>
      </div>
    </div>
  </div>
</div>

<section class="container">
    <h2>Events</h2>
  {{#each upcoming}}
    <div class="event">
      <div class="date">
        <div class="day">{{date startTime 'MMM DD'}}</div>
        <div class="time">{{date startTime 'hh:mm a'}}</div>
      </div>
      <div class="col-sm-9">
        <h3 class="text-left"><a {{bind-attr href=eventUrl }} target="_blank">{{name}}</a></h3>
        <p>{{{description}}}</p>

      </div>
    </div>
    <hr>
  {{/each}}
</section>
