<div class="featured-event">
  <div class="container">
      <div class="col-sm-9 col-sm-push-3">
        <h1>{{upcoming.firstObject.name}}</h1>
        <p class="date">{{timeAgo upcoming.firstObject.startTime }}</p>
        <a href="http://www.meetup.com/Code-for-Boston/" class="btn btn-success btn-lg col-sm-2">RSVP</a>
    </div>
  </div>
</div>

<div class="container">
  <h2>Events</h2>
  {{#each upcoming}}
    <div class="event">
      <div class="event-date">
        <div class="event-day">{{date startTime 'MMM Do'}}</div>
        <div class="event-time">{{date startTime 'h:mm a'}}</div>
      </div>
      <div class="event-description">
        <h2><a {{bind-attr href=eventUrl}} target="_blank">{{name}}</a></h2>
        <p>{{{description}}}</p>
      </div>
    </div>
    <hr>
  {{/each}}
</div>
